#interests {
  display: none;
}

.interests-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 900px;
  h1 {
    text-transform: uppercase;
  }
  h1 {
    align-self: center;
    font-size: 30px;
  }
}
