.nav-container {
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  background-color: $background-one;
  width: 85%;
  max-width: 800px;
  margin: 40px auto;
  border-radius: 10px;
  .nav-button {
    background-color: $background-one;
    text-align: center;
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
  }
  .nav-button:hover, .nav-mid-button:hover{
    animation: wiggle 1.5s infinite;
  }
  .position {
    position: relative;
    width: 120px;
    .nav-mid-button {
      position: absolute;
      text-align: center;
      top: -40px;
      width: 120px;
      height: 120px;
      background-color: $color-one;
      border-radius: 50%;
      button {
        display: block;
        position: absolute;
        top: 43px;
      }
    }
  }
  button {
    border: none;
    background-color: transparent;
  }
}
@media screen and (max-width: 509px) {
  .position {
    display: none;
  }
}
